.AppMain {
  display: grid;
  place-items: center;
}

.todo__list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

footer img {
  width: 150px;
}